---
---

@import "{{ site.theme }}";

@mixin desktop {
    @media (min-width: 1200px){
        @content;
    }
}

@mixin tablet {
    @media (max-width: 720px){
        @content;
    }
}

@mixin mobile {
    @media (max-width: 480px){
        @content;
    }
}
.wrapper, section, #header nav {
    max-width: 1200px;
    @include desktop{
        max-width: none;
        width: 100%;
    }
}
#docs{
}
#content{

}
@supports(display: grid){
    .grid{
        display: grid;
        grid-template-columns: atuo 300px;
        @include mobile{
            display: block;
        }
    }
    #docs{
        grid-column: 2;
    }
    #content{
        grid-column: 1;
    }
}

