---
---

@import "{{ site.theme }}";

@mixin desktop {
    @media (max-width: 1200px){
        @content;
    }
}

@mixin tablet {
    @media (max-width: 720px){
        @content;
    }
}

@mixin mobile {
    @media (max-width: 480px){
        @content;
    }
}
.wrapper, section, #header nav {
    max-width: 1200px;
    @include desktop{
        max-width: none;
    }
}
.docs-title {
    border-bottom: 1px solid rgba(0,0,0,.5);
    margin-bottom: 15px;
    h2{
        margin-bottom: 10px;
    }
    a{
        float: right;
        padding-top: 8px;
    }
}
#docs{
    p a{
        display: inline-block;
        padding: 5px 10px 5px 0;
        &:active{
            color: #fff;
        }
    }
}
#content{

}
@supports(display: grid){
    .grid{
        display: grid;
        grid-template-columns: auto 300px;
        grid-template-areas: "content docs";
        @include mobile{
            display: block;
        }
    }
    #docs{
        grid-area: docs;
    }
    #content{
        grid-area: content;
    }
    @include mobile{
        .grid{
            display: block;
        }
    }
}
@include mobile{
    #header {
        margin-top: 0;
    }
    nav{
        display: block;
    }
}
